[Unit]
Description=Contrail WebUI Job Server
ConditionPathExists=/etc/contrail/config.global.js
After=network.target

[Service]
StartLimitIntervalSec=0
RestartSec=3s
WorkingDirectory=/var/lib/contrail-webui/contrail-web-core
User=contrail
Group=contrail
ExecStart=/usr/bin/node jobServerStart.js
PIDFile=/var/run/contrail-web-jobserver.pid
KillMode=process
Restart=on-failure
RestartPreventExitStatus=255
Type=simple
[Install]
WantedBy=multi-user.target
