[Unit]
Description=Contrail WebUI Web Server
ConditionPathExists=/etc/contrail/config.global.js
After=network.target

[Service]
StartLimitIntervalSec=0
WorkingDirectory=/var/lib/contrail-webui/contrail-web-core
User=contrail
Group=contrail
ExecStart=/usr/bin/node webServerStart.js
PIDFile=/var/run/contrail-web-webserver.pid
KillMode=process
Restart=on-failure
RestartPreventExitStatus=255
RestartSec=3s
[Install]
WantedBy=multi-user.target
